body,p{
    margin: 0;
    padding: 0;
    /* border: solid 3px red; */
}

#section1{
    /*
    border: #333 solid 1px;
    */
    height: 100vh;
    /* width: 100vw; */
    display: block;
    background-color: #f7f4eb;
}

.top {
    height:8%;
    width: 100%;
    /* border: #333 solid 1px; */
    display: flex;
    /* background-color: #f7f4eb; */
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color:white;
    
} 

.t2{
    /*border: #333 solid 1px;*/
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.logo  img{
    height: 18vh;
}

.no {
    /*border: #333 solid 1px;*/
    display: flex;
    flex-grow: 0.7;

}
.nextPage {
    /*border: #333 solid 1px;*/
    display: flex;
    flex-direction: row;
    width: 40vw;
    display: flex;
    justify-content: space-around;
}
.buttonI button {
    height: 5vh;
    width: 8vw;
    border: none;
    background-color:transparent;
}
.buttonI button:hover{
    color: white ;
}

.bottom {
    margin-top: 10vh;
    height: 92%;
    /* width: 100vw; */
    /* border: #333 solid 1px; */
    display: flex;
    flex-direction: row;
}
.left {
   /* border: #333 solid 1px;*/
    height: 90vh;
    width: 65vw;
    display: flex;
}
.iMg1 {
    height: 90vh;
    width: 40vw;
    overflow: hidden;
    margin: 0 auto;
    /*border: #333 solid 1px;*/
}
.eoc-main {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.I1{
    height: 45vh;
    width: 30vw;
    overflow: hidden;
    margin: 0 auto;
    /*border: #333 solid 1px;*/
}
.eco1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.I2 {
    height: 45vh;
    width: 30vw;
    overflow: hidden;
    margin: 0 auto;
}
.eco2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right {
    height: 90vh;
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*border: solid 3px blue; */
}

.f1-f2 {
    
    /*border: solid 3px black;*/
    
    display: block;
    margin-top: 10%;
    /*
    justify-content: start;
    align-items: start;
    */
}

.f1{
    
    /*border: #333 solid 1px;    */
    
    /* width: 35vw;
    */
    /*
    height: 35vh;
    */
    font-size: 70pt;
    /* position: absolute;
    top: 10%;
    left: 5%; */
}
.f2 {
    /* border: #333 solid 1px; */
    /* width: 35vw; */
    margin-top: 8%;
    font-size: 30pt;
    /* position: absolute;
    top: 30%;
    left: 5%; */
}
.search {
    border: #333 solid 1px;
    width: 30vw;
    height: 6vh;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

input{
    width: 20vw;
    border: none;
    background-color: transparent;
    outline: none;
}
.searchButton {
    height: 25px;
}
.search button {
    border: none;
    background-color: transparent;
    height: 25px;
    
}

.search button:hover{
    background-color: aqua;
}

/*--------------------------------------------*/
#section2 {
    /*border: #333 solid 1px;*/
    height: 100vh;
    background-color: #31453a;
    display: flex;
    flex-direction: row;
} 
.mainPoint {
    width: 80%;
    /*border: #333 solid 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    /*border: #333 solid 1px;*/
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    height: 49.8%;
    width: 24.9%;
    background-color: white;
    border: #f7f4eb solid 1px;
    overflow:hidden;
    margin:0 auto;
}
.ite {
    background-color:  #31453a;
}
.itimg {
   height: 100%;
   width: 100%;
   object-fit:cover;
}
.text {
    height: 100%;
    width: 20%;
    border: #f7f4eb solid 1px;
}
.textLogo-m {
    border: #f7f4eb solid 1px;
    font-size: 58pt;
    color: #f7f4eb;
    /*writing-mode: vertical-rl;*/
    margin-top: 27.4%;
}
.textLogo-l {
    border: #f7f4eb solid 1px;
    font-size: 18pt;
    writing-mode: vertical-rl;
    color: #f7f4eb;

}
.textLogo-n {
    border: #f7f4eb solid 1px;
    font-size: 35pt;
    color: #f7f4eb;
}
/*-----------------------------------------------------*/
#section3 {
    border:  #333 solid 1px;
    height: 100vh;
    background-color: #f7f4eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.left1 {
    border:#31453a solid 2px ;
    height: 20%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.righttext {
   /* border:#31453a solid 2px ;*/
    height: 60%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.vidoNews {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.vi {
    background-color: #31453a;
    border: #f7f4eb solid 1px;
    border-radius: 24px;
    height: 80%;
    width: 24%;
    overflow: hidden;
    margin: 0 auto;
}
.viimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

